extends layout

block content
  include sections/hero
  include sections/about
  include sections/results
  include sections/timeline
  include sections/principles
  include sections/projects
  include sections/contact
